.current__weather__info__con {
    margin-bottom: 3.2rem;
}

.curr__loading__con {
    border-radius: 2rem;
    padding: 4rem 2.4rem;
    background-color: hsl(242, 27%, 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 2rem;
    height: 28.6rem;
    gap: 1.4rem;
}

.load__circle__con {
    width: 5.6rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.load__circle {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: var(--Neutral-0);
    opacity: 0.8;
    position: relative;
    animation: bounce 2s infinite ease-in-out;
}

.load__rev {
    top: -0.5rem;
    animation: revbounce 2s infinite ease-in-out;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.5rem);
    }
}

@keyframes revbounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.5rem);
    }
}

.load__text {
    font-family: var(--DMsans);
    line-height: 1.2;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--Neutral-200);
}

.current__weather__info {
    border-radius: 2rem;
    padding: 4rem 2.4rem;
    background: url("../../assets/images/bg-today-small.svg") center/cover
        no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 2rem;
    height: 28.6rem;
}

.locdate__con {
    font-family: var(--DMsans);
    text-align: center;
    color: var(--Neutral-0);
}

.location {
    font-size: 2.8rem;
    margin-bottom: 1.6rem;
    font-weight: 700;
}

.date {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--Neutral-0);
    opacity: 0.8;
}

.temp__con {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.temperature {
    font-size: 9.6rem;
    font-family: var(--DMSansItalic);
    font-weight: 600;
    letter-spacing: -0.2rem;
}

.current__weather__details__con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

.current__weather__detail {
    border: 1px solid var(--Neutral-600);
    background-color: var(--Neutral-800);
    border-radius: 1.2rem;
    padding: 2rem;
    font-family: var(--DMsans);
    height: 12.1rem;
}

.current__weather__detail__header {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--Neutral-200);
    margin-bottom: 2.4rem;
}

.current__weather__detail__text {
    font-size: 3.2rem;
    font-weight: 300;
    color: var(--Neutral-0);
}
