.daily__forecast__con {
    margin-bottom: 3.2rem;
    font-family: var(--DMsans);
}

.daily__forecast__header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Neutral-0);
    margin-bottom: 2rem;
}

.daily__forcast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.forecast {
    padding: 1.6rem 1rem;
    border: 1px solid var(--Neutral-600);
    border-radius: 1.2rem;
    background-color: var(--Neutral-800);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 10.3rem;
    height: 16.5rem;
}

.forecast__day {
    font-size: 1.8rem;
    font-weight: 500;
}

.forecast__img {
    width: 6rem;
    height: 6rem;
}

.forecast__temp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.temp__text {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--Neutral-0);
}
