.hourly__forecast__con {
    border-radius: 2rem;
    display: grid;
    padding-block: 2rem;
    gap: 1.6rem;
    background-color: var(--Neutral-800);
    font-family: var(--DMsans);
    max-height: 68.5rem;

    @media (min-width: 45rem) {
        padding-block: 2.4rem;
    }

    @media (min-width: 75rem) {
        width: 100%;
        max-width: 38.4rem;
        max-height: 69.3rem;
    }
}

.forecast__nav__con {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-inline: 1.6rem;

    @media (min-width: 45rem) {
        padding-inline: 2.4rem;
    }
}

.hourly__header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Neutral-0);
}

.day__select__btn {
    border-radius: 0.8rem;
    background-color: var(--Neutral-600);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.6rem;
    gap: 0.8rem;
}

.day__btn__text {
    color: var(--Neutral-0);
    font-weight: 500;
    font-size: 1.6rem;
}

.forecast__nav__dropdown {
    width: 21.4rem;
    position: absolute;
    right: 0;
    top: 4.8rem;
    border-radius: 1.2rem;
    padding: 0.8rem;
    border: 1px solid var(--Neutral-600);
    background-color: var(--Neutral-800);
    display: none;
    flex-direction: column;
    gap: 0.4rem;
    font-family: var(--DMsans);
    z-index: 999;
}

.forecast__nav__dropdown--active {
    display: flex;
}

.forecast__nav {
    padding: 1rem 0.8rem;
    color: var(--Neutral-0);
    font-size: 1.6rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
}

.forecast__nav:hover,
.forecast__nav:focus .forecast__nav--active {
    background-color: var(--Neutral-700);
    border-radius: 0.8rem;
}

.hourly__forecast {
    display: grid;
    gap: 1.6rem;
    padding-inline: 1.6rem;
    padding-block-end: 2rem;
    overflow-y: scroll;
    height: 59.2rem;

    &::-webkit-scrollbar {
        width: 0.4rem;
    }

    /* Scrollbar thumb (the draggable part) */
    &::-webkit-scrollbar-thumb {
        border-radius: 0.2rem;
        border: 1px solid var(--Neutral-600);
    }

    @media (min-width: 45rem) {
        padding-inline: 2.4rem;
        padding-block-end: 2.4rem;
    }
}

.forecast__con {
    display: flex;
    border: 1px solid var(--Neutral-600);
    border-radius: 0.8rem;
    background-color: var(--Neutral-700);
    padding: 1rem 1.6rem 1rem 1.2rem;
    height: 6rem;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}

.icon__time {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .hourly__icon {
        width: 4rem;
        height: 4rem;
    }

    .hour__time {
        font-size: 2rem;
        font-weight: 500;
        color: var(--Neutral-0);
        font-family: var(--DMsans), sans-serif;
    }
}

.hour__temp {
    font-size: 1.6rem;
    font-weight: 500;
}

.icon__dropdown {
    width: 1.2rem;
    height: 1.6rem;
}

.hourly__forecast__img {
    width: 4rem;
    height: 4rem;
}

.hourly__forecast__time {
    font-size: 2rem;
    color: var(--Neutral-0);
    font-weight: 500;
    width: 100%;
}

.hourly__forecast__temp {
    font-size: 1.6rem;
    color: var(--Neutral-0);
    font-weight: 500;
}
