.hourly__forecast__con {
    border-radius: 2rem;
    display: grid;
    padding: 2rem 1.6rem;
    gap: 1.6rem;
    background-color: var(--Neutral-800);
    font-family: var(--DMsans);
}

.forecast__nav__con {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hourly__header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Neutral-0);
}

.day__select__btn {
    border-radius: 0.8rem;
    background-color: var(--Neutral-600);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.6rem;
    gap: 0.8rem;
}

.day__btn__text {
    color: var(--Neutral-0);
    font-weight: 500;
    font-size: 1.6rem;
}

.forecast__nav__dropdown {
    width: 21.4rem;
    position: absolute;
    right: 0;
    top: 4.8rem;
    border-radius: 1.2rem;
    padding: 0.8rem;
    border: 1px solid var(--Neutral-600);
    background-color: var(--Neutral-800);
    display: none;
    flex-direction: column;
    gap: 0.4rem;
    font-family: var(--DMsans);
    z-index: 999;
}

.forecast__nav__dropdown--active {
    display: flex;
}

.forecast__nav {
    padding: 1rem 0.8rem;
    color: var(--Neutral-0);
    font-size: 1.6rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
}

.forecast__nav:hover,
.forecast__nav:focus .forecast__nav--active {
    background-color: var(--Neutral-700);
    border-radius: 0.8rem;
}

.hourly__forecast {
    display: grid;
    gap: 1.6rem;
    max-height: 68.5rem;
    overflow-y: scroll;

    /* Width of the scrollbar */
    &::-webkit-scrollbar {
        width: 4px;
    }

    /* Scrollbar thumb (the draggable part) */
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        border: 1px solid var(--Neutral-600);
    }
}

.forecast__con {
    display: flex;
    border: 1px solid var(--Neutral-600);
    border-radius: 0.8rem;
    background-color: var(--Neutral-700);
    padding: 1rem 1.6rem 1rem 1.2rem;
    height: 6rem;
    align-items: center;
    gap: 0.8rem;
}

.icon__dropdown {
    width: 1.2rem;
    height: 1.6rem;
}

.hourly__forecast__img {
    width: 4rem;
    height: 4rem;
}

.hourly__forecast__time {
    font-size: 2rem;
    color: var(--Neutral-0);
    font-weight: 500;
    width: 100%;
}

.hourly__forecast__temp {
    font-size: 1.6rem;
    color: var(--Neutral-0);
    font-weight: 500;
}
