.hero {
    margin: 4.8rem auto;
    padding: 0 1.4rem;

    @media (min-width: 45rem) {
        padding: 0 11.4rem;
    }

    @media (min-width: 75rem) {
        margin-block: 6.4rem;
    }
}

.hero__text {
    font-family: var(--BricolageGrotesque);
    font-size: 5.2rem;
    font-weight: 700;
    text-align: center;
}

.search__container {
    margin-block-end: 3.2rem;
    position: relative;
    width: 100%;
    margin-inline: auto;

    @media (min-width: 45rem) {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        max-width: 72rem;
    }

    @media (min-width: 75rem) {
        margin-block-end: 4.8rem;
        max-width: 65.6rem;
    }
}

.input__con {
    border-radius: 1.2rem;
    background-color: var(--Neutral-800);
    height: 5.6rem;
    margin-block-end: 1.2rem;
    position: relative;
    width: 100%;

    @media (min-width: 45rem) {
        margin-block-end: 0;
    }
}

.search__icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 2.4rem;
    top: 50%;
    transform: translateY(-50%);
}

.search__input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: inherit;
    padding: 0 6.2rem;
    font-family: var(--DMsans);
    font-size: 2rem;
    color: var(--Neutral-200);
}

::placeholder {
    font-size: 2rem;
    color: var(--Neutral-200);
}

.search__input:focus {
    outline: none;
    border: 2px solid var(--Neutral-0);
}

.search__suggestions {
    position: relative;
    border-radius: 1.2rem;
    background-color: var(--Neutral-800);
    height: fit-content;
    width: 100%;
    margin-block-end: 1.2rem;
    border: 1px solid var(--Neutral-700);
    padding: 0.8rem;
    z-index: 9;

    @media (min-width: 45rem) {
        position: absolute;
        top: 100%;
        left: 0;
        margin-block-start: 1rem;
        max-width: 59rem;
    }
}

.search__loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
}

.search__load__icon {
    width: 1.6rem;
    height: 1.9rem;
    animation: loaderspin 1.5s linear infinite;

    @media (prefers-reduced-motion: reduce) {
        animation: none;
        transform: none;
    }
}

@keyframes loaderspin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search__text {
    color: var(--Neutral-0);
    line-height: 1.2;
    font-size: 1.6rem;
    font-family: var(--DMsans), sans-serif;
    font-weight: 500;
}

.search__results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}

.search__result {
    color: var(--Neutral-0);
    line-height: 1.2;
    font-size: 1.6rem;
    font-family: var(--DMsans), sans-serif;
    font-weight: 500;
    padding: 1rem 0.8rem;
    border: 1px solid transparent;
    border-radius: 0.8rem;

    &:hover,
    &:focus {
        border-color: var(--Neutral-600);
        cursor: pointer;
        background-color: var(--Neutral-700);
    }
}

.search__btn {
    border: 1px solid #000;
    background-color: var(--Blue-500);
    border-radius: 1.2rem;
    padding: 1.6rem 2.4rem;
    width: 100%;
    font-size: 2rem;
    color: var(--Neutral-0);

    @media (min-width: 45rem) {
        width: 11.4rem;
    }
}
