.weather__content {
    margin-bottom: 2rem;
}

.weather__info__con {
    margin-bottom: 3.2rem;
}

.weather__info {
    border-radius: 2rem;
    padding: 4rem 2.4rem;
    background: url("./assets/images/bg-today-small.svg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 2rem;
}

.locdate__con {
    font-family: var(--DMsans);
    text-align: center;
    color: var(--Neutral-0);
}

.location {
    font-size: 2.8rem;
    margin-bottom: 1.6rem;
    font-weight: 700;
}

.date {
    font-size: 1.8rem;
    font-weight: 500;
}

.temp__con {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.temperature {
    font-size: 9.6rem;
    font-family: var(--DMSansItalic);
    font-weight: 600;
    letter-spacing: -0.2rem;
}

.weather__details__con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

.weather__detail {
    border: 1px solid var(--Neutral-600);
    background-color: var(--Neutral-800);
    border-radius: 1.2rem;
    padding: 2rem;
    font-family: var(--DMsans);
}

.weather__detail__header {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--Neutral-200);
    margin-bottom: 2.4rem;
}

.weather__detail__text {
    font-size: 3.2rem;
    font-weight: 300;
    color: var(--Neutral-0);
}

.daily__forecast__con {
    margin-bottom: 3.2rem;
    font-family: var(--DMsans);
}

.daily__forecast__header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Neutral-0);
    margin-bottom: 2rem;
}

.daily__forcast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.forecast {
    padding: 1.6rem 1rem;
    border: 1px solid var(--Neutral-600);
    border-radius: 1.2rem;
    background-color: var(--Neutral-800);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
}

.forecast__day {
    font-size: 1.8rem;
    font-weight: 500;
}

.forecast__img {
    width: 6rem;
    height: 6rem;
}

.forecast__temp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.temp__text {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--Neutral-0);
}

.hourly__forecast__con {
    border-radius: 2rem;
    display: grid;
    padding: 2rem 1.6rem;
    gap: 1.6rem;
    background-color: var(--Neutral-800);
    font-family: var(--DMsans);
}

.forecast__nav__con {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hourly__header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Neutral-0);
}

.day__select__btn {
    border-radius: 0.8rem;
    background-color: var(--Neutral-600);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.6rem;
    gap: 0.8rem;
}

.day__btn__text {
    color: var(--Neutral-0);
    font-weight: 500;
    font-size: 1.6rem;
}

.forecast__nav__dropdown {
    width: 21.4rem;
    position: absolute;
    right: 0;
    top: 4.8rem;
    border-radius: 1.2rem;
    padding: 0.8rem;
    border: 1px solid var(--Neutral-600);
    background-color: var(--Neutral-800);
    display: none;
    flex-direction: column;
    gap: 0.4rem;
    font-family: var(--DMsans);
    z-index: 999;
}

.forecast__nav__dropdown--active {
    display: flex;
}

.forecast__nav {
    padding: 1rem 0.8rem;
    color: var(--Neutral-0);
    font-size: 1.6rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
}

.forecast__nav:hover,
.forecast__nav:focus .forecast__nav--active {
    background-color: var(--Neutral-700);
    border-radius: 0.8rem;
}

.hourly__forecast {
    display: grid;
    gap: 1.6rem;
}

.forecast__con {
    display: flex;
    border: 1px solid var(--Neutral-600);
    border-radius: 0.8rem;
    background-color: var(--Neutral-700);
    padding: 1rem 1.6rem 1rem 1.2rem;
    align-items: center;
    gap: 0.8rem;
}

.hourly__forecast__img {
    width: 4rem;
    height: 4rem;
}

.hourly__forecast__time {
    font-size: 2rem;
    color: var(--Neutral-0);
    font-weight: 500;
    width: 100%;
}

.hourly__forecast__temp {
    font-size: 1.6rem;
    color: var(--Neutral-0);
    font-weight: 500;
}

.attribution {
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--DMsans);
    font-weight: 600;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
