.weather__content {
    margin-bottom: 2rem;
}

.attribution {
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--DMsans);
    font-weight: 600;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
