.weather__content {
    margin-block-end: 2rem;

    @media (min-width: 75rem) {
        display: flex;
        align-items: center;
        gap: 3.2rem;
    }
}

.no__result {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-family: var(--DMsans), sans-serif;
        font-size: 2rem;
        margin-block-end: 4rem;
        font-weight: 700;

        @media (min-width: 45rem) {
            font-size: 2.8rem;
        }
    }
}

.attribution {
    font-size: 1.6rem;
    text-align: center;
    font-family: var(--DMsans);
    font-weight: 600;
    justify-self: flex-end;
    margin-block-start: auto;
    margin-block-end: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
