* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

@font-face {
  font-family: 'BricolageGrotesque';
  src: url('assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}


@font-face {
  font-family: 'DMSansItalic';
  src: url('assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'DMsans';
  src: url('assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}


:root {

font-size: 62.5%;
--BricolageGrotesque : 'BricolageGrotesque', sans-serif ;
--DMSansItalic : 'DMSansItalic' , sans-serif;
--DMsans : 'DMsans', sans-serif ;

--Neutral-900: hsl(243, 96%, 9%);
--Neutral-800: hsl(243, 27%, 20%);
--Neutral-700: hsl(243, 23%, 24%);
--Neutral-600: hsl(243, 23%, 30%);
--Neutral-300: hsl(240, 6%, 70%);
--Neutral-200: hsl(250, 6%, 84%);
--Neutral-0: hsl(0, 0%, 100%);


--Orange-500: hsl(28, 100%, 52%);


--Blue-500: hsl(233, 67%, 56%);
--Blue-700: hsl(248, 70%, 36%);

}

body {
background-color: var(--Neutral-900);
padding: 1.6rem 1.6rem 4.8rem;
color: var(--Neutral-0);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.main__header {
    display: flex;
    width: 100%;
}

.main__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main__logo {
    width: 13.8rem;
}

.unit__btn {
    width: 8.9rem;
    height: 3.3rem;
    background-color: var(--Neutral-800);
    padding:.8rem 1rem ;
    color: var(--Neutral-0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .6rem;
    border: 1px solid #000;

}

.unit__btn:hover {
    background-color: var(--Neutral-700);
}

.unit__btn--active , .unit__btn:focus {
    outline: none ;
    border: 2px solid var(--Neutral-0);
}

.unit__icon {
    width: 1.4rem;
    height: 1.4rem;
}

.unit__btn__text {
    font-family: var(--DMsans);
    font-size: 1.4rem;

}

.icon__dropdown {
    width: .9rem;
    height: 1.4rem;
}


.nav__dropdown {
width: 21.4rem;
position: absolute;
right:0;
top: 4.8rem;
border-radius: 1.2rem;
padding: .6rem .8rem;
border: 1px solid var(--Neutral-600);
background-color: var(--Neutral-800);
display: none;
flex-direction: column;
gap:.4rem;
font-family: var(--DMsans);
z-index: 999;
}

.nav__dropdown--active {
    display: flex;
}

.switch__btn {
    width: 19.8rem;
    height: 3.9rem;
    text-align: left;
    background-color: var(--Neutral-800);
    border: none;
    border-radius: .8rem;
    padding: 1rem .8rem;
    color: var(--Neutral-0);
    font-size: 1.6rem;
}

.switch__btn:hover {
    background-color: var(--Neutral-700);
    border-radius: .8rem;

}

.list__label {
    font-size: 1.4rem;
    color: var(--Neutral-300);
    padding: .6rem .8rem 0 ;
    margin-bottom: .8rem;
    height: 2.3rem;
    width: 19.8rem;
}

.line {
    border-bottom: 1px solid var(--Neutral-600);
}

.nav__list__item {
    font-size: 1.6rem;
    padding: 1rem .8rem;
    margin-bottom: .4rem;
    width: 19.8rem;
    height: 3.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active__img {
    width: 1.4rem;
    height: 1.7rem;
    display: none;
}

.nav__list__item--active {
    background-color: var(--Neutral-700);
    border-radius: .8rem;
}

.nav__list__item--active > .active__img {
    display: block;
}

.hero {
    margin: 4.8rem auto;
    padding:0 1.4rem;
}

.hero__text {
    font-family:  var(--BricolageGrotesque);
    font-size: 5.2rem;
    font-weight: 700;
    text-align: center;
}

.search__container {
    margin-bottom: 3.2rem;
}

.input__con {
    border-radius: 1.2rem;
    background-color: var(--Neutral-800);
    position: relative;
    height: 5.6rem;
    margin-bottom: 1.2rem;
}

.search__icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 2.4rem;
    top: 50%;
    transform: translateY(-50%);
}

.search__input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: inherit;
    padding:0 6.2rem;
    font-family: var(--DMsans);
    font-size: 2rem;
    color: var(--Neutral-200);
}

.search__input:focus {
    outline: none ;
    border: 2px solid var(--Neutral-0);
}

.search__btn {
    border: 1px solid #000;
    background-color: var(--Blue-500);
    border-radius: 1.2rem;
    padding: 1.6rem 2.4rem;
    width: 100%;
    font-size: 2rem;
    color: var(--Neutral-0);
}

.weather__content {
    margin-bottom: 2rem;
}

.weather__info__con {
    margin-bottom: 3.2rem;
}

.weather__info {
    border-radius:2rem ;
    padding:4rem 2.4rem ;
    background: url("./assets/images/bg-today-small.svg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom:2rem ;
}

.locdate__con {
    font-family: var(--DMsans);
    text-align: center;
    color: var(--Neutral-0);
}

.location {
    font-size:2.8rem ;
    margin-bottom: 1.6rem;
    font-weight: 700;
}

.date {
    font-size: 1.8rem;
    font-weight: 500;

}

.temp__con {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.temperature {
    font-size: 9.6rem;
    font-family: var(--DMSansItalic);
    font-weight: 600;
    letter-spacing: -.2rem;
}

.weather__details__con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
}

.weather__detail {
    border: 1px solid var(--Neutral-600);
    background-color: var(--Neutral-800);
    border-radius: 1.2rem;
    padding: 2rem;
    font-family: var(--DMsans);
}

.weather__detail__header {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--Neutral-200);
    margin-bottom: 2.4rem;
}

.weather__detail__text {
    font-size: 3.2rem;
    font-weight: 300;    
    color: var(--Neutral-0);
}

.daily__forecast__con {
    margin-bottom: 3.2rem;
    font-family: var(--DMsans);
}

.daily__forecast__header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Neutral-0);
    margin-bottom: 2rem;
}

.daily__forcast {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}

.forecast {
    padding: 1.6rem 1rem;
    border: 1px solid var(--Neutral-600);
    border-radius: 1.2rem;
    background-color: var(--Neutral-800);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
}

.forecast__day {
    font-size: 1.8rem;
    font-weight: 500;
}

.forecast__img {
    width: 6rem;
    height: 6rem;
}

.forecast__temp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.temp__text {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--Neutral-0);
}

.hourly__forecast__con {
    border-radius:2rem ;
    display: grid;
    padding: 2rem 1.6rem;
    gap: 1.6rem;
    background-color: var(--Neutral-800);
    font-family: var(--DMsans);
}

.forecast__nav__con {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hourly__header {
    font-size: 2rem;
    font-weight: 600;
    color: var(--Neutral-0);
}

.day__select__btn {
    border-radius: .8rem;
    background-color: var(--Neutral-600);
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1.6rem;
    gap: .8rem;
}

.day__btn__text {
    color: var(--Neutral-0);
    font-weight: 500;
    font-size: 1.6rem;
}

.forecast__nav__dropdown {
width: 21.4rem;
position: absolute;
right:0;
top: 4.8rem;
border-radius: 1.2rem;
padding: .8rem;
border: 1px solid var(--Neutral-600);
background-color: var(--Neutral-800);
display: none;
flex-direction: column;
gap:.4rem;
font-family: var(--DMsans);
z-index: 999;
} 

.forecast__nav__dropdown--active {
    display: flex;
}

.forecast__nav {
    padding: 1rem .8rem;
    color: var(--Neutral-0);
    font-size: 1.6rem;
    font-weight: 500;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;

}

.forecast__nav:hover, .forecast__nav:focus  .forecast__nav--active {
    background-color: var(--Neutral-700);
    border-radius: .8rem;
}

.hourly__forecast {
    display: grid;
    gap:1.6rem ;
}

.forecast__con {
    display: flex;
    border: 1px solid var(--Neutral-600);
    border-radius: .8rem;
    background-color: var(--Neutral-700);
    padding: 1rem 1.6rem 1rem 1.2rem;
    align-items: center;
    gap: .8rem;
}


.hourly__forecast__img {
    width: 4rem;
    height: 4rem;
}

.hourly__forecast__time {
    font-size: 2rem;
    color: var(--Neutral-0);
    font-weight: 500;
    width: 100%;
}

.hourly__forecast__temp {
    font-size: 1.6rem;
    color: var(--Neutral-0);
    font-weight: 500;
}

.attribution { 
    font-size: 1.6rem; 
    text-align: center; 
    font-family: var(--DMsans);
    font-weight: 600;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}